extends layout

block content
  h1= title
  - let results = [{kite_color:"yellow",kite_quality:"good",kite_cost:"$5},{kite_color:"red",kite_quality:better,kite_cost:"$3},{kite_color:"green",kite_quality:"best",kite_cost:"$8}]
  div(class="container-fluid")
    div(class="row")
      each item,index in results
        div(class="col-sm-2",onClick=`buy(${index})`)
          p color is #{item.kite_color}
          p quality is #{item.kite_quality}
          p cost is #{item.kite_cost}
  script.
    function buy(thing) {
      thing = thing+1;
      alert(`You Purchased Item ${thing}`);
    }
          
         
    
